{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Liste des paramètres</h3>
                <ul class="list-group" id="parametre-list">
                    {% for parametre in parametres %}
                        <li class="list-group-item">
                            <a href="{{ path('app_parametre', { action: parametre.id == 1 ? 'changer-attribut' : (parametre.id == 2 ? 'changer-mot-de-passe' : (parametre.id == 3 ? 'deconnexion' : (parametre.id == 4 ? 'supprimer-compte' : ''))) }) }}"
                               style="text-decoration: none; color: inherit;">
                                {{ parametre.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8" id="parametre-details">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if form is not null %}
                    {% if action == 'changer-attribut' %}
                        <h3>Profil :</h3>
                    {% elseif action == 'changer-mot-de-passe' %}
                        <h3>Changement de mot de passe :</h3>
                    {% elseif action == 'supprimer-compte' %}
                        <h3>Information :</h3>
                        <p>Voulez-vous vraiment supprimer votre compte ? Cette action est irréversible.</p>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                {% elseif showLogoutConfirmation %}
                    <h3>Information</h3>
                    <p>Voulez-vous vraiment vous déconnecter ?</p>
                    <div id="form-container">
                        <a href="{{ path('app_logout') }}" class="btn btn-danger mt-3">Déconnexion</a>
                    </div>

                {% else %}
                    <h3>Information</h3>
                    <p>Sélectionnez un paramètre pour afficher ses détails.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
