{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <style>
        .about-grid {
            display: grid; /* Utilisation de la grille pour la mise en page */
            grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
            gap: 20px; /* Espacement entre les éléments de la grille */
            margin-top: 20px; /* Marge supérieure */
        }

        .about-block {
            padding: 20px; /* Espacement interne */
            border-radius: 8px; /* Bords arrondis */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
            background-color: #f5f5f5; /* Couleur de fond par défaut */
        }

        @media (prefers-color-scheme: dark) {
            .about-block {
                background-color: #2c2c2c; /* Couleur de fond en mode sombre */
                color: #e0e0e0; /* Couleur du texte en mode sombre */
            }
        }

        .about-header {
            display: flex; /* Affichage en flexbox */
            align-items: center; /* Alignement vertical centré */
        }

        .about-header h4 {
            margin-right: 10px; /* Marge à droite du titre */
        }
    </style>

    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Liste des paramètres</h3> <!-- Titre de la liste des paramètres -->
            <ul class="list-group" id="parametre-list">
                {% for parametre in parametres %}
                    <li class="list-group-item">
                        <a href="{{ path('app_parametre', { action: parametre.id == 1 ? 'changer-attribut' : (parametre.id == 2 ? 'changer-mot-de-passe' : (parametre.id == 3 ? 'deconnexion' : (parametre.id == 4 ? 'supprimer-compte' : (parametre.id == 5 ? 'a-propos')))) }) }}"
                           style="text-decoration: none; color: inherit;">
                            {{ parametre.name }} <!-- Nom du paramètre -->
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8" id="parametre-details">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        {{ message }} <!-- Message flash -->
                    {% endfor %}
                </div>
            {% endfor %}

            {% if form is not null %}
                {% if action == 'changer-attribut' %}
                    <h3>Profil :</h3> <!-- Titre pour changer les attributs -->
                {% elseif action == 'changer-mot-de-passe' %}
                    <h3>Changement de mot de passe :</h3> <!-- Titre pour changer le mot de passe -->
                {% elseif action == 'supprimer-compte' %}
                    <h3>Information :</h3> <!-- Titre pour supprimer le compte -->
                    <p>Voulez-vous vraiment supprimer votre compte ? Cette action est irréversible.</p> <!-- Message de confirmation -->
                {% endif %}

                {{ form_start(form) }} <!-- Début du formulaire -->
                {{ form_widget(form) }} <!-- Champs du formulaire -->
                {{ form_end(form) }} <!-- Fin du formulaire -->

                {% elseif showLogoutConfirmation %} <!-- Confirmation de déconnexion -->
                    <h3>Information</h3>
                    <p>Voulez-vous vraiment vous déconnecter ?</p>
                    <div id="form-container">
                        <a href="{{ path('app_logout') }}" class="btn btn-danger mt-3">Déconnexion</a> <!-- Bouton de déconnexion -->
                    </div>
                {% elseif action == 'a-propos' %} <!-- À propos -->
                    <br>
                    <h3>À propos</h3>
                    <div class="about-grid">
                        <div class="about-block">
                            <div class="about-header"> <!-- En-tête de la section -->
                                <h4>Qui sommes-nous ?</h4>
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>    <!-- Importation de l'icône animée -->
                                <lord-icon
                                        src="https://cdn.lordicon.com/znhrmptg.json"
                                        trigger="loop"
                                        stroke="bold"
                                        state="loop-cycle"
                                        colors="primary:#66ee78,secondary:#000000"
                                        style="width:75px;height:75px">
                                </lord-icon>
                            </div>
                            <p>Engagés pour la mobilité durable et la protection de l’environnement, nous avons créé
                                <strong>Veliko</strong> pour faciliter l'accès aux vélos partagés Vélib' en
                                Île-de-France.</p>
                        </div>
                        <div class="about-block"> <!-- Bloc d'informations -->
                            <div class="about-header">
                                <h4>Stations disponibles</h4>
                                <img src="{{ asset('images/bicycle-station.png') }}" alt="Logo Station" width="100"
                                     height="100">
                            </div>
                            <p>Nombre total de stations disponibles : 1 497</p>
                            <p>Nombre total de vélos : 19 000 </p>
                            <p>Nombre total de vélos électriques : 7 600</p>
                            <p>Nombre total de vélos classiques : 11 400</p>
                        </div>
                        <div class="about-block">   <!-- Bloc d'informations -->
                            <div class="about-header">
                                <h4>Veliko c'est quoi ?</h4>
                                <img src="{{ asset('images/map.png') }}" alt="Logo Map" width="100" height="100">
                            </div>
                            <p><strong>Veliko</strong> est une plateforme interactive qui présente toutes les stations
                                Vélib' de la
                                région Île-de-France sur une carte dynamique. Vous pouvez visualiser en
                                temps réel le nombre de vélos disponibles dans chaque station, qu'ils soient classiques
                                ou électriques. <strong>Veliko</strong> permet également de créer une liste de stations
                                favorites.</p>
                        </div>
                        <div class="about-block">
                            <div class="about-header">
                                <h4>Pourquoi utiliser Veliko ?</h4>
                                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                                        type="module"></script>
                                <!-- Animation Lottie -->
                                <dotlottie-player
                                        src="https://lottie.host/5a8f28a7-0870-4013-8c8f-babcfbdc6e3b/pdyYs8q6zj.json"
                                        background="transparent" speed="1" style="width: 75px; height: 75px;" loop
                                        autoplay></dotlottie-player>
                            </div>
                            <p><strong>Veliko</strong> n'est pas seulement un service de vélos, c'est une solution
                                complète pour une mobilité durable et accessible en Île-de-France. Voici pourquoi
                                choisir Veliko :</p>
                            <ul>
                                <li><strong>Accessibilité :</strong> Trouvez facilement une station près de chez vous
                                    grâce à notre carte interactive.
                                </li>
                                <li><strong>Durabilité :</strong> Contribuez à la réduction de l'empreinte carbone en
                                    optant pour le vélo plutôt que la voiture.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %} <!-- Message par défaut -->
                    <h3>Information</h3>
                    <p>Sélectionnez un paramètre pour afficher ses détails.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}