{% extends 'base.html.twig' %}

{% block title %}Station Favoris{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <form class="d-flex" method="GET" action="{{ path('app_station_favoris') }}">
                    <input class="form-control me-2" type="search" name="query" placeholder="Rechercher une station" aria-label="Rechercher">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    <button class="btn btn-outline-danger ms-2" type="reset"
                            onclick="window.location.href='{{ path('app_station_favoris') }}';">Réinitialiser
                    </button>
                    <button class="btn btn-outline-warning" type="button" onclick="window.location.href='{{ path('app_mes_stations') }}';" >Voir stations favoris</button>
                </form>
            </div>
        </nav>

        <h1>Liste des stations de vélos</h1>

        <ul>
            {% for station in stations %}
                <li>
                    <span>{{ station.name }}</span>
                    <!-- Formulaire d'ajout pour chaque station -->
                    <form method="POST" action="{{ path('app_station_favoris') }}">
                        <input type="hidden" name="idStations" value="{{ station.station_id }}">
                        <input type="hidden" name="favori" value="add">
                        <button type="submit" class="btn btn-outline-primary">Ajouter aux favoris</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
